
/*Кастомные свойсва*/
:root {


    --main-background-color: #F1F5F7;
    --second-background-color: #3D546F;
    --second-background-color-light: #C5C5C5;
    --up_down-dark: #293449;
    --up_down-light: #32425C;
    --basic-red: #EE3643;
    --basic-green: #63A63E;
    --dark-red-click: #BA2732;
    --wight: #FFFFFF;
    --special-yellowlight: #FFD180;
    --special-ylellow: #FFBF47;
    --special-lilac: #DC91D8;
    --special-greenlight: #8ED78F;
    --basic-grey: #3D546F;
    --basic-error:#BA2732;
    --basic-main:#F3F7F9;
}

/*
#161D29;
background: #5FBB2D;/* Успех 

background: #FFBF47;/* Предупреждение 

background: #BA2732;/* Ошибка 

background: linear-gradient(180deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 100%), #EAEAEA; /* светло серый */

/* shadow 

background: #C4C4C4;
box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.15);

* Сетка 

background: #FFFFFF;
*/

body {
    min-width: 940px;
    margin: 0;
    padding: 0;
    font-family: "Cuprum", "Arial", sans-serif;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
    background-color: var(--wight);

}

img {
    max-width: 100%
}

a {
    text-decoration: none
}


.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.wrapper {
    width: 940px;
    margin: 0 auto;
}
*, *::before, *::after {
    box-sizing: border-box;
}
/*--шапка сайта header*/

.header {
    background: var(--basic-main);
    padding-bottom: 50px;
}

.up-header {
    background: var(--up_down-dark);
    color: #ffffff;
    margin: 0;
    padding: 0;

}

.up-header-container {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
}

.up-logo {
    margin: 7px 0px 0px 55px;
    padding: 0;
    position: absolute;
    top: 3px;
}


.up-logo-plug { 
    margin: 0 0 0 0;
    padding: 0;
    display: block;
    width: 220px;
    height: 40px;
    background: var(--basic-red);
    box-shadow: 0 6px 0 var(--basic-error);
}
.search-form-container {

    width: 272px;
    height: 40px;
    margin: 0 20px 0 0;
    display: block;
}

.search-form {
    position: relative;
    display: block;
    height: 100%;
    width: 100%;
}

.search-form-input {
    position: relative;
    z-index: 1;
    display: block;
    padding: 0 0 0 40px;
    height: 100%;
    width: 100%;
    background: transparent;
    border: none;
}

.search-form-icon {
    position: absolute;
    width: 17px;
    height: 17px;
    left: 18px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 100;
    fill: #ffffff;
    opacity: 0.5;
}

.search-form-input:focus {
    background: #ffffff;
    outline: none;

}

.search-form-input:focus ~ .search-form-icon {
    fill: red;
    opacity: 1;
}

.search-form-input:hover ~ .search-form-icon {
    opacity: 1;
}

.search-form-input:focus + .search-form-label {
    display: none;

}

.search-form-input:valid {
    background: #ffffff;
    outline: none;
}

.search-form-input:valid ~ .search-form-icon {
    fill: red;
    opacity: 1;
}

.search-form-input:valid + .search-form-label {
    display: none;
}


/*#foo:valid { outline: solid blue 2px; }
#foo:invalid { outline: solid red 2px; }*/



.search-form-label {
    position: absolute;
    left: 43px;
    top: 8px;
    font-size: 18px;
}


.up-header-search {
    position: relative;
}

.up-header-link {
    margin: 0;
    display: block;
    position: relative;
    color: #ffffff;
    font-size: 18px;
    padding: 9px 0 9px 20px;
}

.up-header-link-bookmarks {
    margin-right: 55px;
}

.up-header-link-cart {
    margin-right: 26px;
}
.up-header-link:hover {
    opacity: 1;
}

.up-header-link::before {
    content: "";
    display: block;
    position: absolute;
    top: 11px;
    left: -2px;

    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    opacity: 0.5;

}

.up-header-link:hover::before {
    opacity: 1;
}

.up-header-link-bookmarks::before {
    background-image: url("../img/svg/icon-bookmark.svg");
    width: 14px;
    height: 16px;

}
.up-header-link-bookmarks:active {
    background: #161D29;
}

.up-header-link-cart::before {
    background-image: url("../img/svg/icon-cart.svg");
    width: 15px;
    height: 15px;
}

.create-order {
    height: 42px;
    width: 150px;
    font-size: 18px;
    background: var(--basic-green);
    color: var(--wight);
    cursor: pointer;
    border: none;
    position: relative;
    
}
.create-order-text {
    position: absolute;
    top: 11px;
    left: 20px;
}
.create-order:hover {
    background: #5FBB2D;
}

.center-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    max-width: 940px;
    padding-top: 42px;
    padding-bottom: 40px;
    align-items: flex-start;
}


.heading {
    margin: 0;
    padding: 0;
    width: 228px;
    color:var(--basic-red);
    font-size: 16px;
    font-style: italic;
    padding-left: 30px;
    line-height: 24px;
    margin-top: -4px;
}
.contacts {
    width: 270px;
    margin: 0 0 0 24px;
}
.login-block {
    position: relative;
    margin: 0;
    padding: 0;
    width: 280px;
   }

.login-item {
    list-style-type: none;
   }

.login-link {
    position: absolute;
    display: block;
    background: #ffffff;
    font-size: 21px;
    color: #000000;
   }

.login-entry-icon {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 44%;
    left: 3px;
    transform: translateY(-50%);
}

.login-entry-icon svg {
    fill: #c5c5c5;

}

.login-entry:hover svg {
    fill: #3D546F;
}

.login-link:hover {
    color: var(--basic-red);
}

.login-entry { 
    padding: 9px 27px 11px 16px;
    position: absolute;
    left: 0;
    }

.login-text {
    position: relative;
    padding-left: 30px;
   
}
.login-registration {
       top: 0px;
       right: 0px;
       padding: 9px 23px 11px 24px;
}


.phone-link {
    display: block;
    border: 3px solid #ffffff;
    text-align: center;
    padding-top: 8px;
    padding-bottom: 6px;
}

.phone {
    display: inline-block;
    padding-left: 27px;
    position: relative;
    color: var(--basic-red);
    font-size: 21px;
    font-weight: bold;


}

.phone::before {
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    top: 1px;
    left: -8px;
    background: url(../img/svg/icon-phone.svg) no-repeat center center;
    background-size: cover;
}

.address {
    font-style: normal;
    font-size: 14px;
    text-align: center;
    margin-top: 1px;
}

.down-header {
    padding-top: 10px;
    padding-bottom: 9px;
    background: var(--up_down-light);
    border-bottom: 5px solid #293449;
}

.down-header-list {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    position: relative;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    list-style-type: none;
}

.down-header-link {
    color: #ffffff;
    display: block;
    padding: 10px 20px;
}

.down-header-link:hover,
.down-header-link:focus {
    background-color: var(--dark-background);
}

/*Преимущества*/
.benefits {
    color: #ffffff;

}

.benefits-list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: 300px 300px 300px;
    grid-template-rows: 123px 123px 123px;
    margin-bottom: 55px;
}

.benefits-list-item {
    position: relative;
    width: 300px;
    padding: 20px;

}

.benefits-list-item::before {
    content: "";
    position: absolute;
    right: 60px;
    top: 40px;
    display: block;
}

.benefits-list-item-material {
    background-color: #FFBF47;
}

.benefits-list-item-material::before {

    background: url("../img/svg/icon-1.svg") no-repeat top left;
    width: 44px;
    height: 65px;
}

.benefits-list-item-tool {
    background-color: #3BBCE3;
}

.benefits-list-item-tool::before {
    background: url("../img/svg/icon-2.svg") no-repeat top left;
    width: 70px;
    height: 65px;
}

.benefits-list-item-technic {
    background-color: #DC91D8;
}

.benefits-list-item-technic::before {
    background: url("../img/svg/icon-3.svg") no-repeat top left;
    width: 70px;
    height: 65px;
}

.benefits-list-item-slider {
    grid-column: 1/3;
    grid-row: 2/4;
    color: darkblue;
    background: red;

}

.benefits-list-item-discount {
    background-color: #8ED78F;

}

.benefits-list-item-discount::before {
    background: url("../img/svg/icon-4.svg") no-repeat top left;
    width: 60px;
    height: 65px;
}

.benefits-list-item-delivery {
    background-color: #FFD180;

}

.benefits-list-item-delivery::before {
    background: url("../img/svg/icon-5.svg") no-repeat top left;
    width: 78px;
    height: 65px;
}

.benefits-list-header {
    font-size: 24px;
    font-weight: bold;
    padding: 0;
    margin: 0;
}

.benefits-list-link {
    position: absolute;
    display: inline-block;
    padding: 12px 33px;
    background-color: rgba(255, 255, 255, 0.4);
    font-size: 18px;
    color: #ffffff;
    top: 62px;
    font-size: 12px;
    text-transform: uppercase;

}

/* cлайдер*/
.gallery {
    width: 100%;
    height: 100%;
    position: relative;
}

.gallery-item h3 {
    
    width: 60%;
    margin: 0;
    font-size: 37px;
    padding: 18px 0 0 24px;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--wight);
    margin-bottom: 5px;
}
.gallery-catalog-link {
     position: absolute;
   display: block;
    background-color: var(--basic-red);
    font-size: 14px;
    text-transform: uppercase;
    color: var(--wight);
    margin: 114px 20px 0 25px;
    padding: 14px 45px 9px 45px;
  
}
.gallery-text {
    display: inline-block;
    color: var(--wight);
    font-size: 17px;
     margin: 0px 0px 0 25px;
    padding: 0px 0px 0px 0px; 
    word-spacing: 4px;
}
.gallery-list {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    list-style-type: none;
    position: relative;
}

.gallery-item {
    position: absolute;
    width: 100%;
    height: 100%;
    display: none;

}


.gallery-item-drills {
    background: #888000 url("../img/content/banner2.jpg") no-repeat top left;
    background-size: cover;

}

.gallery-item-hammers {
    background: #888000 url("../img/content/banner1.jpg") no-repeat top left;
    background-size: cover;
}
.ticks-button { position: absolute;
    bottom: 30px;
    width: 180px;
    display: flex;
    justify-content: space-around;
    top:50px;
    }

/*.tick { display: block;
    width: 10px;
    height: 10px;
    background: #ffffff;
    box-sizing: content-box; 
    z-index: 20; */
}
.tick-left { 
}
.tick-right {
}

.tick-left:checked ~ .gallery-list .gallery-item-drills {
    display: block; 
}
    

.tick-right:checked ~ .gallery-list .gallery-item-hammers {
    display: block;  
} 

.round-button {
    margin: 0;
    padding: 0;
    list-style: none;
    position: absolute;
    bottom: 30px;
    width: 30px;
    display: flex;
    justify-content: space-between;
    left: 50%;
    transform: translateX(-50%);
}
.round-button-label {
    display: block;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background: #ffffff;
    box-sizing: content-box;
    
}
.switch-first:checked ~.gallery-list .gallery-item-drills {
    display: block; 
}
.switch-second:checked ~.gallery-list .gallery-item-hammers {
    display: block; 
}

.switch-first:checked ~.round-button .round-button-label-first {
width: 6px;
height: 6px;
background: red;
border: 2px solid #ffffff;  
}
.switch-second:checked ~.round-button .round-button-label-second {
width: 6px;
height: 6px;
background: red;
border: 2px solid #ffffff;  
}
/*Карточки товаров*/

/* 
Результат вы можете увидеть на рисунке и убедиться, что он — наконец-то! — работает! Вы наверняка уже догадались, как применить этот эффект ко всем четырем углам. Вам потребуются четыре градиента и код, подобный следующему:
background: linear-gradient(135deg, transparent 15px, #58a 0) top left,

linear-gradient(-135deg, transparent 15px, #655 0) top right,

linear-gradient(-45deg, transparent 15px, #58a 0) bottom right,

linear-gradient(45deg, transparent 15px, #655 0) bottom left;
background-size: 50% 50%;
background-repeat: no-repeat;*/




.popular-goods {
    background-color: #F9F5F0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

.popular-goods-heading {
    width: 60%;
    margin: 0;
    font-size: 30px;
    padding: 29px 0 28px 28px;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--up_down-light);

}

.popular-goods a {
    display: inline-block;
    background-color: var(--basic-red);
    font-size: 14px;
    text-transform: uppercase;
    color: var(--wight);
    margin: 0 20px 0 0;
    padding: 12px 25px 11px 24px;

}

.popular-goods-list {
    padding: 0;
    display: grid;
    list-style-type: none;
    grid-gap: 20px;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 318px;
    margin-bottom: 59px;
}

.popular-goods-item {

    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    position: relative;
    border: 1px solid #EAEAEA;
}

.popular-goods-item-links {

    width: 195px;
    display: inline-block;
    text-align: center;
    font-size: 20px;
    padding: 10px 0 0 24px;
    color: #000000;
    font-weight: bold;
}

.popular-goods-butoon-price {
    max-width: 141px;
    text-align: center;
    display: block;
    padding: 10px 0 10px 30px;
    background-color: var(--basic-red);
    font-size: 18px;
    font-weight: bold;
    font: PT Sans;
    color: var(--wight);
    margin-left: 50px;
}

.popular-manufacturers {
    background-color: #F9F5F0;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

.popular-manufacturers-heading {
    margin: 0;
    font-size: 30px;
    padding: 29px 0 28px 28px;
    text-transform: uppercase;
    font-weight: normal;
    color: var(--up_down-light);

}

.popular-manufacturers a {
    margin-right: 20px;
    display: inline-block;

    background-color: var(--basic-red);
    font-size: 14px;
    text-transform: uppercase;
    color: var(--wight);
    padding: 12px 38px 11px 39px;
}

.popular-manufacturers-list {

    padding: 0;
    display: grid;
    list-style-type: none;
    grid-gap: 20px;
    grid-template-columns: 220px 220px 220px 220px;
    grid-template-rows: 145px 145px;
    margin-bottom: 70px;


}

.popular-manufacturers-item {
    margin-top: 20px;
    display: inline-block;
    text-align: center;
    border: 1px solid #EAEAEA;
}

/*Сервисы*/
.services {
    width: 100%;
    background-color: #F1F5F7;
    padding-top: 60px;
    padding-bottom: 100px;

}

.services h2 {
    font-size: 30px;
    padding: 0;
    text-transform: uppercase;
    font-weight: normal;
}

.service-title {
    margin: 3px 0 28px 56px;
}

.services-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position: relative;
    font-size: 14px;
    margin: 0;
    padding: 0;



}


.services-list {
    width: 240px;
    margin: 0;
    padding: 0;
    color: #ffffff;
    list-style-type: none;

}

.services-list-item {
    width: 100%;
    border-bottom: 1px solid black;
}

.services-label {
    display: block;
    background: #32425C;
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 20px;
    cursor: pointer;


}


.service-variant-list {
    width: 100%;
    margin-left: 50px;
}

.service-variant-item {
    display: none;
    min-height: 261px;

}

.service-radio:checked + .service-variant-item {
    display: block;

}

.service-variant-title {
    width: 320px;
    margin: 40px 0 30px 145px;
    color: var(--up_down-light);

}

.service-variant-text {
    padding: 0;
    margin: 0;
    width: 320px;
}

.service-variant-delivery {

    background: url("../img/svg/avto-delivery.svg") no-repeat top right;
}

.service-variant-guarantee {
    background: url("../img/svg/guarantee.svg") no-repeat top right;
}

.service-variant-credit {
    background: url("../img/svg/credit.svg") no-repeat top right;
}

.service-variant-request {
    color: var(--wight);
    font-size: 14px;
}

.delivery-partners-map {
    width: 940px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: auto 300px;
    grid-template-rows: 356px;
    padding: 0;
    outline: 1px solid black;

}

.delivery-partners-map-h2 {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;

}

.delivery-partners {
    display: inline-block;
    margin: 0;
    padding: 0;
    width: 478px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;

}

.delivery-partners-list {


    font-weight: bold;
}

.delivery-partners-link {
    background-color: var(--basic-red);
    padding: 12px;
    color: var(--wight);
    font-size: 14px;
    line-height: 18px;
}

.contats-map-text {
    display: block;
    width: 180px;
    font-family: PT Sans;
    font-style: normal;
    font-weight: normal;
    font-size: 13px;
    line-height: 24px;

    outline: 1px solid black;
}

.contats-map-h2 {
    font-family: Cuprum;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 30px;
    text-transform: uppercase;
    color: #000000;


}

.map-link {
    background-color: var(--basic-red);
    padding: 12px;
    color: var(--wight);
    font-size: 14px;
    line-height: 18px;
}

/*Подвал сайта*/
.footer {
    margin: 0;
    padding: 0;
    background: var(--up_down-dark);
    color: #ffffff;

}

.up-footer {
    background: var(--up_down-light);
}

.up-footer-container {
    margin-top: 24px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 60px;

}

.up-footer-left {
    width: 325px;

}

.footer-logo {
    display: block;
    margin-bottom: 20px;
}

.up-footer-right {

    width: 100%;
    padding-top: 38px;
    padding-left: 70px;
    font-size: 18px;

}


.down-address-block {
    width: 324px;
    color: var(--main-background-color);
    font-size: 18px;

}

.down-address {

    display: block;
    font-style: normal;
    margin-bottom: 5px;
}

.tel-footer {

    color: var(--main-background-color);

}

.up-footer-nav {
    width: 100%;
    margin-bottom: 39px;
    margin-top: 2px;
}

.up-footer-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin: 0;
    padding: 0;
    list-style-type: none;

}

.up-footer-list-link {
    color: var(--main-background-color);
    display: inline-block;

}

.up-footer-list-link:hover,
.up-footer-list-link:focus {
    text-decoration: underline;
}

.up-footer-list-link:active,
.down-footer-nav-link:active {
    opacity: 0.5;
}

.down-footer-nav {
    display: flex;
    content: "";
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    margin: 0;
    padding: 0 0 0 21px;
    list-style-type: none;

}

.down-footer-nav-link {

    color: var(--special-yellowlight);
}

.down-footer-nav-link:hover,
.down-footer-nav-link:focus {
    text-decoration: underline;
}

.last-footer {
    width: 940px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding: 31px 0 32px 0;
    color: var(--wight);
    font-size: 14px;
}

.last-footer-copyright {
    margin: 1px 0 0 1px;
    padding: 0;
    font-size: 16px;
}

.last-footer-reserved {
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.social-icons-list {
    margin: 0 0 0 45px;
    padding: 0;
    width: 131px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: relative;
    list-style-type: none;
}

.social-icons-item {}

.social-icons-link {
    display: flex;
    width: 39px;
    height: 39px;
    border-radius: 50%;
    background: black;
    justify-content: center;
    align-items: center;
}

.social-icons-link::after {
    content: "";

    display: block;

}

.social-icons-link:hover {
    background: red;
}

.social-icons-link-vk::after {

    width: 25px;
    height: 14px;
    background: url(../img/svg/icon-vk.svg) no-repeat top left;
}

.social-icons-link-fb::after {
    width: 12px;
    height: 22px;
    background: url(../img/svg/icon-fb.svg) no-repeat top left;

}

.social-icons-link-insta::after {
    width: 21px;
    height: 21px;
    background: url(../img/svg/icon-insta.svg) no-repeat top left;

}

.feedback-email {
    color: var(--special-yellowlight);
    font-size: 16px;
}

.feedback-email:hover,
.feedback-email:focus {
    text-decoration: underline;
}

.feedback-email:active {
    color: var(--basic-red);
}

.last-footer-feedback-block {
    display: flex;
    width: 298px;
    justify-content: space-between;
}

.last-footer-feedback {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.last-footer-made-block {
    margin-right: 13px;
}

.last-footer-made {
    padding: 0;
    margin: 0;
    font-size: 16px;
}

.popup-feedback {
    width: 400px;
    height: 400px;
    border: 1px solid #000000;
    background: #58a;
    clip-path: polygon(400px 0, calc(100% — 400px) 0, 100% 400px,
            100% calc(100% — 400px), calc(100% — 400px) 100%,
            400px 100%, 0 calc(100% — 400px), 0 400px);
    margin-left: 50px;
    margin-bottom: 50px;
}
